/* ------------
   font 
------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
/*---------------
 Header Background 
 ----------------*/
.part-one{
    display: flex;
    background-color: blue;
    color: white;
    margin-bottom: 20px;
}
.text {
    font-size: 64px;
    padding-top: 10px;
    padding-left: 20px;
}
/* yellow hover background in header image */
.part-one:hover{
    background-color: yellow;
    color: rgb(231, 200, 218);
}
.half-width{
       width: 50%;
       padding-bottom: 90px;
}
.half-width img{
    width: 556.01px;
    height: 438px;
    padding-top: 10px;
}
.button-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 168px;
    left: 156px;
    top: 464px;
    border-radius: 0px;
    background-color: #E02C6D;
    text-align: center;
    margin-left: 20px;
}
.button-arrow:hover{
    background-color: turquoise;
}
a{
    text-decoration: none;
}
.part-two{
    display: flex;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}
.part-two img{
    width: 100%;
}
.part1{
    padding: 15px;
    border: 10px solid whitesmoke;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
/* ----------------
footer
-------------- */
 .logo-football img{
    width: 30%;
    margin-left: 350px;
    margin-top: 50px;
} 
.filled{
    color: gray;
}
.social{
   display: flex;
   justify-content: center;
   
}
.filled{
    margin-left: 10px;
}

.paragraph{
    text-align: center;
}
/* media queries */
/* mobile devices */

@media only screen and (max-width:688px){
   .text{ 
       background-color: rgb(42, 23, 42);
       font-size: large;
        padding: 100%;        
    }
    .half-width img{
        margin-left: 0px;
        width: 200%;
    }
    .part-two{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .part-one{
        flex-direction: column;
    }
    .logo-football img{
    width:30%;
    margin-left: 50px;
    margin-top: 50px;
    }
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){
    .part-two{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
}